include ../../blocks/banner/banner

mixin price-table() 
	+b.price-table
		table
			tr
				th 
				th Наименование
				th Количество
				th Стоимость, <br> маш/час без гсм
				th Стоимость, <br> маш/час с гсм
				th Минимальный <br> заказ
			tr
				td
					img(src="img/price-table__img.png", alt="")
				td.price-table__name
					p Автокран
					p XCMG QY25K5S
				td 1 шт.
				td 1300 <span>руб.</span>
				td 1850 <span>руб.</span>
				td 8 часов
			tr
				td
					img(src="img/price-table__img.png", alt="")
				td.price-table__name
					p Асфальтоукладчик
					p DYNAPAC F121-6W/D
				td 1 шт.
				td 3600 <span>руб.</span>
				td 4000 <span>руб.</span>
				td 8 часов
			tr
				td
					img(src="img/price-table__img.png", alt="")
				td.price-table__name
					p Автомобиль
					p ISUZU+КМУ (7т)
				td 1 шт.
				td 1600 <span>руб.</span>
				td 2000 <span>руб.</span>
				td 8 часов
			tr
				td
					img(src="img/price-table__img.png", alt="")
				td.price-table__name
					p Бульдозер
					p Т-170
				td 2 шт.
				td 1100 <span>руб.</span>
				td 1500 <span>руб.</span>
				td 8 часов
			tr
				td
					img(src="img/price-table__img.png", alt="")
				td.price-table__name
					p Грейдер
					p ДЗ-180
				td 1 шт.
				td 1400 <span>руб.</span>
				td 1875 <span>руб.</span>
				td 8 часов
		+banner()
		table
			tr
				td
					img(src="img/price-table__img.png", alt="")
				td.price-table__name
					p Автокран
					p XCMG QY25K5S
				td 1 шт.
				td 1300 <span>руб.</span>
				td 1850 <span>руб.</span>
				td 8 часов
			tr
				td
					img(src="img/price-table__img.png", alt="")
				td.price-table__name
					p Автокран
					p XCMG QY25K5S
				td 1 шт.
				td 1300 <span>руб.</span>
				td 1850 <span>руб.</span>
				td 8 часов
			tr
				td
					img(src="img/price-table__img.png", alt="")
				td.price-table__name
					p Асфальтоукладчик
					p DYNAPAC F121-6W/D
				td 1 шт.
				td 3600 <span>руб.</span>
				td 4000 <span>руб.</span>
				td 8 часов
			tr
				td
					img(src="img/price-table__img.png", alt="")
				td.price-table__name
					p Автомобиль
					p ISUZU+КМУ (7т)
				td 1 шт.
				td 1600 <span>руб.</span>
				td 2000 <span>руб.</span>
				td 8 часов
			tr
				td
					img(src="img/price-table__img.png", alt="")
				td.price-table__name
					p Бульдозер
					p Т-170
				td 2 шт.
				td 1100 <span>руб.</span>
				td 1500 <span>руб.</span>
				td 8 часов
			tr
				td
					img(src="img/price-table__img.png", alt="")
				td.price-table__name
					p Грейдер
					p ДЗ-180
				td 1 шт.
				td 1400 <span>руб.</span>
				td 1875 <span>руб.</span>
				td 8 часов
			tr
				td
					img(src="img/price-table__img.png", alt="")
				td.price-table__name
					p Автокран
					p XCMG QY25K5S
				td 1 шт.
				td 1300 <span>руб.</span>
				td 1850 <span>руб.</span>
				td 8 часов
			tr
				td
					img(src="img/price-table__img.png", alt="")
				td.price-table__name
					p Автокран
					p XCMG QY25K5S
				td 1 шт.
				td 1300 <span>руб.</span>
				td 1850 <span>руб.</span>
				td 8 часов
			tr
				td
					img(src="img/price-table__img.png", alt="")
				td.price-table__name
					p Асфальтоукладчик
					p DYNAPAC F121-6W/D
				td 1 шт.
				td 3600 <span>руб.</span>
				td 4000 <span>руб.</span>
				td 8 часов
			tr
				td
					img(src="img/price-table__img.png", alt="")
				td.price-table__name
					p Автомобиль
					p ISUZU+КМУ (7т)
				td 1 шт.
				td 1600 <span>руб.</span>
				td 2000 <span>руб.</span>
				td 8 часов
			tr
				td
					img(src="img/price-table__img.png", alt="")
				td.price-table__name
					p Автомобиль
					p ISUZU+КМУ (7т)
				td 1 шт.
				td 1600 <span>руб.</span>
				td 2000 <span>руб.</span>
				td 8 часов
			tr
				td
					img(src="img/price-table__img.png", alt="")
				td.price-table__name
					p Бульдозер
					p Т-170
				td 2 шт.
				td 1100 <span>руб.</span>
				td 1500 <span>руб.</span>
				td 8 часов
			tr
				td
					img(src="img/price-table__img.png", alt="")
				td.price-table__name
					p Грейдер
					p ДЗ-180
				td 1 шт.
				td 1400 <span>руб.</span>
				td 1875 <span>руб.</span>
				td 8 часов
			tr
				td
					img(src="img/price-table__img.png", alt="")
				td.price-table__name
					p Грейдер
					p ДЗ-180
				td 1 шт.
				td 1400 <span>руб.</span>
				td 1875 <span>руб.</span>
				td 8 часов
