mixin about() 
	+b.about&attributes(attributes)
		+e.wrap.wrap
			+e.logo
				img(src="img/logo-white.png", alt="")
			+e.info
				h2 О компании
				p ООО "Каскад" уже много лет успешно работает на Самарском рынке оказания услуг по общестроительным, отделочным, бетонным работам, асфальтированию дорог, тротуаров, дворов и площадок, благоустройству территорий и капитальному ремонту асфальтовых покрытий. 
				p В своей работе мы используем только современные и качественные материалы и передовые технологии. Накопленный опыт позволяет нам качественно и оперативно осуществлять весь комплекс работ. Наша репутация - сотни успешно завершенных объектов, сотрудничество с крупными коммерческими организациями, благодарные отзывы клиентов самого разного уровня.
				p Наша компания способна выполнять работы разного уровня сложности. Но в независимости от масштабов предложенного для выполнения проекта, главная наша цель - взаимовыгодное, эффективное и долгосрочное сотрудничество с нашими клиентами. Основным приоритетом для нас является качество производимых работ, но мы стараемся сократить расходы за счет эффективного