mixin pagination() 
	+b.pagination
		+e.UL.list
			+e.LI.item
				+e.A.link(href="#") <
			+e.LI.item
				+e.A.link(href="#") 1
			+e.LI.item
				+e.A.link--active(href="#") 2
			+e.LI.item
				+e.A.link(href="#") 3
			+e.LI.item
				+e.A.link(href="#") 4
			+e.LI.item
				+e.A.link(href="#") >