mixin contact-form() 
	+b.FORM.contact-form
		+e.header
			p Есть вопросы? 
			p Давайте обсудим!
		+e.body
			+e.col
				label.label(for="name") Контактное лицо
				input.input(type="text", id="name")
				label.label(for="tel") Контактный телефон
				input.input(type="tel", id="tel")
				label.label(for="email") Ваша почта
				input.input(type="email", id="email")
			+e.col
				label.label(for="message") Сообщение
				textarea.textarea(id="message")
			+e.col
				button.btn ОТПРАВИТЬ
