extends ../layout/layoutBase.pug

include ../../blocks/header/header
include ../../blocks/card-goods/card-goods
include ../../blocks/card-special/card-special
include ../../blocks/svg-icon/svg-icon
include ../../blocks/footer/footer
include ../../blocks/popup/popup
include ../../blocks/popup-call/popup-call
	
block content
	+b.goods-page
		+header()
		.wrap
			+b.bread-crumbs
				ul
					li
						a(href="#") Аренда спецтехники
					li 
						span / 
					li
						a(href="#") Главная
					li 
						span / 
					li
						span Цены
			+card-goods()
			+e.about
				h2 О погрузчике Амкорд 342Б
				p ОАО «"Амкодор" - управляющая компания холдинга» — белорусская компания, крупнейший в СНГ производитель дорожно-строительной, коммунальной, снегоуборочной, аэродромной, специальной, лесной, сельскохозяйственной техники и оборудования. В структуре «Амкодора» 20 предприятий, на которых работают около 7 тыс. человек. Ежегодно ОАО выпускает более 5 тыс. единиц специальных машин свыше 80 моделей и модификаций, которые эксплуатируются более чем в 30 странах.
				p Ежегодно на ОАО «"Амкодор" - управляющая компания холдинга» выпускается более 5000 единиц дорожно-строительной техники, свыше 80 моделей и модификаций (в том числе около 2500 одноковшовых фронтальных колёсных погрузчиков грузоподъёмностью от 2,5 до 6 тонн, погрузчики универсальные, с бортовым поворотом и телескопической стрелой, автопогрузчики вилочные и машины аэродромные уборочные, снегоочистители и траншеекопатели, бульдозеры-погрузчики и экскаваторы-погрузчики, фрезерные и бурильно-крановые машины, харвестеры и форвардеры, зерноочистительно-сушильные комплексы и др.)[2], которые эксплуатируются более чем в 30 странах. Продукция предприятия поставляется как на рынки стран СНГ так и в дальнее зарубежье. Около половины от общего объёма экспорта направляется в Россию.
			+e.special
				+e.special-headline
					+svg-icon('star')
					h2 Спецпредложения
				+e.special-list
					+card-special('img/card-product__banner-4.png', 'Каток грунтовой', 'НАММ 3518 -18тн')
					+card-special('img/card-product__banner-1.png', 'Каток пневмошинный', 'HAMM GRV15 18тн')
					+card-special('img/card-product__banner-2.png', 'Каток гладковальцовый вибро', 'HAMM HD+90VO 9.5тн')
		+footer('--sm')
		+popup()
		+popup-call()
