extends ../layout/layoutBase.pug

include ../../blocks/header/header
include ../../blocks/banner-middle/banner-middle
include ../../blocks/card-service/card-service
include ../../blocks/about/about
include ../../blocks/footer/footer
include ../../blocks/popup/popup
include ../../blocks/popup-call/popup-call
	
block content
	- var page = 'work';
	+b.work-page
		+header()
		.wrap
			+b.bread-crumbs
				ul
					li
						a(href="#") Главная
					li 
						span / 
					li
						span Условия работы
			+e.H2.title Условия работы
			+card-service('--left', 'Аренда асфальтоукладчика', 'Аренда асфальтоукладчика – выгодное решение, к которому каждый день прибегают сотни компаний. Асфальтоукладчик используется для укладки горячего асфальта. Компания «Трасса М95» предлагает Вам надёжные и современные асфальтоукладчики отечественных и зарубежных производителей.', 'Мы также предлагаем Вам аренду тротуарного асфальтоукладчика Асфальтоукладчики сочетают высокую скорость укладки асфальта, надежность и низкую цену.', '../img/card-service__banner-1.png')
			+card-service('--right', 'Аренда бульдозера', 'Бульдозер – это мощная самоходная машина, предназначенная для решения целой группы задач по проектированию площадей и территорий, разработке грунта, а также угла насыпи и точного регулирования высоты.', 'Так же бульдозеры применяются при строительстве дорог, при подготовке строительных площадей, а также для решения частных задач по демонтажу и сносу, а также при планировании территории.', '../img/card-service__banner-2.png')
			+banner-middle('img/banner-middle__banner.png', 'Вся предлагаемая <br> нами в аренду техника <br> из <b>собственного парка</b>')
			+card-service('--left', 'Аренда катка', 'Наша компания предлагает Вам взять в аренду двухвальцовые катки для уплотнения грунтовых оснований и асфальта при выполнении небольших объемов работ. У двухвальцовых катков имеется обычно два вальца, расположенные друг за другом. ', 'Такая конструкция обеспечивает большую равномерность при уплотнении рабочих поверхностей.', '../img/card-service__banner-3.png')
			+card-service('--right', 'Аренда дорожной техники', 'Аренда дорожной техники сегодня очень распространена, однако возможно и выгодное долгосрочное сотрудничество с крупными компаниями-застройщиками. Не менее актуальной при проведении различного рода строительных или ремонтных работ становится и аренда дорожной техники, как в единичных случаях, так и на постоянной основе.', 'Большой опыт в области организации работ, требующих применения спецтехники, позволяет нам постоянно совершенствовать уровень предоставляемых услуг', '../img/card-service__banner-4.png')
			
		+about()
		+footer()
		+popup()
		+popup-call()
