mixin filter() 
	+b.filter
		+e.UL.list
			+e.LI.title По типу спецтехники
			+e.LI.item 
				+e.A.link(href="#") Автокраны
			+e.LI.item 
				+e.A.link(href="#") Асфальтоукладчики
			+e.LI.item 
				+e.A.link(href="#") Бульдозеры
			+e.LI.item 
				+e.A.link(href="#") Грейдеры
			+e.LI.item 
				+e.A.link(href="#") Самосвалы
			+e.LI.item 
				+e.A.link(href="#") Погрузчики
			+e.LI.item--active
				+e.A.link(href="#") Катки
			+e.LI.item 
				+e.A.link(href="#") Экскаваторы
			+e.LI.item 
				+e.A.link(href="#") Тралы
			+e.LI.item 
				+e.A.link(href="#") Автогудронаторы

		+e.UL.list
			+e.LI.title По типу услуги
			+e.LI.item 
				+e.A.link(href="#") Копка траншей и котлованов
			+e.LI.item 
				+e.A.link(href="#") Бурение под сваи и столбы
			+e.LI.item 
				+e.A.link(href="#") Доставка сыпучих материалов
			+e.LI.item 
				+e.A.link(href="#") Уборка и вывоз снега
			+e.LI.item 
				+e.A.link(href="#") Вывоз мусора
			+e.LI.item 
				+e.A.link(href="#") Доставка щебня
			+e.LI.item 
				+e.A.link(href="#") Доставка песка







